{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
{% endblock %}

{%block main%}

<section class="block">
    <h3>BIENVENUE </h3>
    <h1>ADMIN</h1>
    <div class="trait-horizontal"></div>
    <h3>Que souhaitez-vous faire ?</h3>
    </div>
    <ul class="liste_boutons_accueil_admin">
        <button class="boutons_vert"><a href="{{ url_for('gestion_plats') }}">gestion des plats</a></button>
        <button class="boutons_vert"><a href="{{ url_for('gestion_formules') }}">gestion des formules</a></button>
        <button class="boutons_vert"><a href="{{ url_for('gestion_cli') }}">gestion des clients</a></button>
        <button class="boutons_vert"><a href="{{ url_for('voir_comm') }}">gestion des commandes</a></button>
        <button class="boutons_vert"><a href="{{ url_for('historique') }}">historique des commandes</a></button>
    </ul>
    <div class="images_admin">
        <img id="sakura" src="{{ url_for('static', filename='img/image1.png') }}" alt="sakura">
        <img id="bambou_coin"  src="{{ url_for('static', filename='img/bambou1.png') }}" alt="image de bambou en coin">
    </div>
</section>

{%endblock%}

{%block footer%}
{%endblock%}