{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_apropos.css') }}">
{% endblock %}

{% block main %}
<section class="premier">
        <img src="{{ url_for('static', filename='img/base/cerisier.png')}}" alt="image arbre">
        <article>
            <div class="trait-horizontal"></div>
            <h3>A propos de Oumami</h3>
            <div class="trait-horizontal"></div>
        </article>
</section>
<section class="contenu">
    <img src="{{ url_for('static', filename='img/apropos/image2.png')}}" alt="image plats">
    <article>
        <p>
L’«Oumami» est un mot japonais qui signifie un «goût savoureux».
C’est la cinquième saveur fondamentale avec le sucré, l’acide,
l’amer et le salé. Ce goût a été découvert en 1908 par un chercheur japonais,
Professeur IKEDA Kikumae.
        </p>
        <p>
L’oumami est présent dans le DASHI (bouillon d’algue KOMBU,
de copeaux de  bonite séchée et de champignon SHIITAKE),
ingrédient indispensable dans  la cuisine japonaise.
        </p>
        <p>
            C’est la raison pour laquelle j’ai choisi ce mot «oumami» pour nommer
            mon magasin, où je pourrai vous faire découvrir ce goût savoureux et  l’art
            de cuisine asiatique au travers de mes plats. Madoka
        </p>
    </article>
</section>
<section class="contenu">
    <img src="{{ url_for('static', filename='img/apropos/image3.png')}}" alt="image plats">
    <article>
        <p>
            Tous nos plats sont «faits maison».
            Dégustez-les ! Les plats «faits maison» sont élaborés sur place à partir de produits bruts.
        </p>
        <p>
En décembre 2024, l'Oumami est apparu sur le guide "Gault&Millau Restaurant " ainsi que "gaultmillau.com".
        </p>
    </article>
</section>
<section>
    <article>
        
    </article>
</section>
<section>
    <article>

    </article>
</section>
<section>
    <article>

    </article>
</section>
<section>
    <article>
        
    </article>
</section>
{% endblock %}