<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oumami</title>

    <link rel="icon" type="image/PNG" href="{{ url_for('static', filename='img/base/logo_oumami.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block styles_additionnels %}
    {% endblock %}
</head>

<body>
    <!-- Barre de navigation -->
    {% block navbar %}
    <header>
        <article>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/base/logo_oumami.png') }}" alt="logo Oumami">
            </a>
            {% if current_user.is_authenticated %}
                <p class="pseudo">Connecté en tant que {{ current_user.pseudonyme }}</p>
            {% endif %}
            <button id="btn_hamburger">
                <img id="logo_hamburger" 
                    src="{{ url_for('static', filename='img/base/hamburger.png') }}" 
                    alt="icon hamburger"
                    data-croix="{{ url_for('static', filename='img/base/croix.png') }}"
                    data-hamburger="{{ url_for('static', filename='img/base/hamburger.png') }}">
            </button>
        </article>
        <nav>
            <ul>
                <button id="toggle-theme"><img src="{{ url_for('static', filename='img/accueil/theme_btn.svg') }}" alt="theme button"></button>
            {% if current_user.est_admin %}
                <ul class="boutons_base">
                    <a href="{{ url_for('gestion_plats') }}">GESTION DES PLATS</a>
                    <a href="{{ url_for('gestion_formules') }}">GESTION DES FORMULES</a>
                    <a href="{{ url_for('gestion_cli') }}">GESTION DES CLIENTS</a>
                    <a href="{{ url_for('voir_comm') }}">VOIR LES COMMANDES</a>
                    <a class="navbar-brand btn_deconnection" href="{{ url_for('deconnection') }}">Se déconnecter</a>
                    <a class="navbar-brand btn_inscription" href="{{ url_for('gestion_compte') }}">Gérer le compte</a>
                </ul>
            {% else %}
                <ul class="boutons_base">
                    <a href="{{ url_for('index') }}">Accueil</a>
                    <a href="{{ url_for('propos') }}">À Propos</a>
                    <a href="{{ url_for('menu') }}">Menu</a>
                    <a href="{{ url_for('contact') }}">Contact</a>
                    <a href="{{ url_for('nouveautes') }}">Nouveautés</a>
                    {% if current_user.is_authenticated %}
                        <a class="navbar-brand btn_deconnection" href="{{ url_for('deconnection') }}">Se déconnecter</a>
                    {% else %}
                        <a class="navbar-brand btn_connection" href="{{ url_for('connection') }}">Se connecter</a>
                        <a class="navbar-brand btn_inscription" href="{{ url_for('inscription') }}">S'inscrire</a>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
            {%block boutons_header%}
            <ul class="menu" id="menu">
                <li><button id="toggle-theme"><img src="{{ url_for('static', filename='img/accueil/theme_btn.svg') }}" alt="theme button"></button></li>       
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <div class="trait-horizontal"></div>
                <li><a href="{{ url_for('propos') }}">À Propos</a></li>
                <div class="trait-horizontal"></div>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <div class="trait-horizontal"></div>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <div class="trait-horizontal"></div>
                <li><a href="{{ url_for('nouveautes') }}">Nouveautés</a></li>
                <div class="trait-horizontal"></div>
                {% if current_user.is_authenticated %}

                    <li  class="btn-conn"><a class="navbar-brand btn_deconnection" href="{{ url_for('deconnection') }}">Se déconnecter</a></li>
                    <li  class="btn-conn"><a class="navbar-brand btn_panier" href="{{ url_for('voir_panier') }}">Mon panier</a></li>
                    <li  class="btn-conn"><a class="navbar-brand btn_reservations" href="{{ url_for('mes_reservations') }}">Mes réservations</a></li>
                {% else %}
                    <article>
                        <li class="btn-conn"><a class="navbar-brand btn_connection" href="{{ url_for('connection') }}">Se connecter</a></li>
                        <li class="btn-conn"><a class="navbar-brand btn_inscription" href="{{ url_for('inscription') }}">S'inscrire</a></li>
                    </article>

                {% endif %}
            </ul>
            {%endblock%}
        </nav>  
    </header>
    {% endblock %}

    <!-- Contenu principal -->
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <!-- Pied de page -->
     {% block footer %}
    <footer>
        <article class="footer1">
            <p>Oumami<br> 
            <p>4 place de la Halle 41250 Bracieux</p>
            <p>Tél : 02.54.79.05.48</p>
        </article>
        <article class="footer2">
            <p>Ouverture du magasin :</p>
            <p>Du mardi au samedi 11h30 - 14h (la vente à emporter et la restauration sur place) / 17h - 20h (la vente à emporter uniquement)</p>
        </article>
        <article class="footer3">
            <p>&copy; 2014-2025 Oumami - Tous droits réservés.</p>
            <p>Crédit site : <br>IUT d'Orléans (groupe 9) <br> Département informatique</p> <br>

        </article>
        <article class="footer4">
            <p>Retrouvez nous sur notre page facebook :</p>
            <a href="https://www.facebook.com/p/Oumami-100039524718080/?locale=fr_FR"><img src="{{ url_for('static', filename='img/base/logo_facebook.png') }}" alt="logo facebook"></a>
        </article>
    </footer>
    {%endblock%}
    <script src="{{ url_for('static', filename='js/bnt_theme.js') }}"></script>
</body>
</html>
