{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_commandes.css') }}">
{% endblock %}

{% block main %}
<section>
    <h1>Commandes</h1>
    <table>
        <thead>
            <th>Nom</th>
            <th>Numéro de téléphone</th>
            <th>Résumé de la commande</th>
            <th>Prix total</th>
            <th>Date de réservation</th>
            <th>Type</th>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{ commande.client.pseudonyme }}</td>
                <td>{{ commande.client.numtelCli }}</td>
                <td>{{ commande.idR }}</td>
                <td> TODO<!-- {{ commande.prix_total }} € --></td>
                <td>{{ commande.date_reservation }}</td>
                {%if commande %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}