{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_gestioncli.css') }}">
{% endblock %}

{% block main %}
<h3>HISTORIQUE DES</h3>
<h1>COMMANDES</h1>
<div class="trait-horizontal"></div>
<section class="gestion-client commande">

    <table>
        <thead>
            <th>Nom</th>
            <th>Numéro de téléphone</th>
            <th>Résumé de la commande</th>
            <th>Prix total</th>
            <th>Date de réservation</th>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr class="ligne-com" data-id="{{ commande.idR }}">
                <td>{{ commande.user.pseudonyme }}</td>
                <td>{{ commande.user.numtelUser }}</td>
                <td>
                    <ul class="liste-plats">
                        {% for plat, quantite in commande.getbesoin().items() %}
                            <li>
                                <span><span class="qte">{{ quantite }}x</span> {{ plat.nomP }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td> {{ commande.get_total() }} €</td>
                <td>{{ commande.dateR }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}