{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_menu.css') }}">
{% endblock %}

{% block main %}

<section class="outil_nav">
    <div class="recherche_container">
        <input type="text" class="recherche_bare" placeholder="Rechercher..." id="recherche_bare">
        <button type="button" id="recherche_bouton" class="recherche_bare">Rechercher</button>
    </div>
    <section class="filtre">
        <button id="tout">Afficher tous les plats</button>
        <button id="triPrix">Trier par prix</button>
        <button id="triNom">Trier par nom</button>
    </section>
</section>
<section id="liste_aliment" class="liste_aliment">
    <article class="nav_type_plat">
        {% for type_plat in TypeDePlats %}
            <button class="choix_type_plat" data-id="{{ type_plat.idTp }}"><p>{{ type_plat.nomTp }}</p></button>
        {% endfor %}
        <button class="choix_type_plat" data-id="formules"><p>formules</p></button>
    </article>
    <section class="derouler">
        {% for plat in plats %}
            <article class="deux" data-id-tp="{{ plat.idTp }}">
                <article class="info_plat">
                    <input type="hidden" class="stock" value="{{ plat.stock }}"></input>
                    <img src="{{ url_for('static', filename=plat.cheminImg) }}" alt="image {{plat.nomP}}">
                        <h5 class="nom">{{ plat.nomP }}</h5>
                    <p>{{ plat.descriptionP }}</p>
                </article>
                <article class="btn_prix">
                    {% if current_user.is_authenticated %}
                        <form action="{{ url_for('ajouter_plat', idP=plat.idP) }}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Ajouter au panier</button>
                        </form>
                    {%else%}
                        <form action="{{ url_for('connection') }}?next=menu" method="get" style="filter: grayscale(100%) brightness(80%)">
                            <input type="hidden" name="next" value="menu">
                            <button type="submit" class="btn btn-danger btn-sm">Ajouter au panier</button>
                        </form>
                    {%endif%}
                    <p class="prix">{{ plat.prixP }} €</p>
                </article>
            </article>
        {% endfor %}
        {% for formule in formules %}
            <article class="deux formule_article" data-id-tp="formule.idF">
                <article class="info_plat">
                    <img src="{{ url_for('static', filename=formule.cheminImg ) }}" alt="image {{formule.nomF}}">
                    <h5 class="nom">{{ formule.nomF }}</h5>
                    <div class="composition_formule">
                        <p style="padding-top: 1.2em;"><strong>Composition :</strong></p>
                        {% for plat, quantite in formule.details_plats %}
                            <div>
                                <p>{{ plat.nomP }} (x{{ quantite }})</p>
                            </div>
                        {% endfor %}
                    </div>
                </article>
                <article class="btn_prix">
                    {% if current_user.is_authenticated %}
                        <form action="{{ url_for('ajouter_plat', idP=formule.idF) }}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Ajouter au panier</button>
                        </form>
                    {%else%}
                        <form action="{{ url_for('connection') }}?next=menu" method="get" style="filter: grayscale(100%) brightness(80%)">
                            <input type="hidden" name="next" value="menu">
                            <button type="submit" class="btn btn-danger btn-sm">Ajouter au panier</button>
                        </form>
                    {%endif%}
                    <p class="prix">{{ formule.prixF }} €</p>
                </article>
            </article>
        {% endfor %}
    </section>
</section>
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}