{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_panier.css') }}">
{% endblock %}

{% block main %}
<h1>🛒 Mon Panier</h1>

    <table id="panier">
        <thead>
            <tr>
                <th>Type</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix (€)</th>
                <th>Total (€)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="totalCommande">Total de la commande : <span id="commande">0.00</span> €</div>

    <script src="{{ url_for('static', filename='panier.js') }}"></script>
{% endblock %}