{% extends "base.html" %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panier.css') }}">
{% endblock %}

{% block main %}

{% if panier %}
    {% if not panier.ifPlatVide() %}

    <section class="block">   
        <div class="trait-horizontal"></div>
        <h1>Mon Panier</h1>
        <div class="trait-horizontal"></div>
        <section class="panier">
            <section class="liste_plats">
                <h2>Plats uniques</h2>
                {% for cp in panier.plats %}
                    <article>
                        <img src="{{ url_for('static', filename=cp.plat.cheminImg) }}" alt="image {{cp.plat.nomP}}">
                        <div>
                            <p>{{ cp.plat.nomP }}</p>
                            <p>Unité : {{ cp.plat.prixP }} €</p>
                        </div>
                        <div class="nombre">
                            <form action="{{ url_for('modifier_quantite_plat', id_p=cp.idP, action='maj_directe') }}" method="post" class="form-quantite">
                                <input type="number" 
                                    name="quantite" 
                                    value="{{ cp.quantiteP }}"
                                    onchange="this.form.submit()"
                                    class="input-style-panier">

                                <span>{{ cp.quantiteP * cp.plat.prixP }} €</span>
                            </form>
                        </div>
                        <div class="corbeille">
                            <form action="{{ url_for('modifier_quantite_plat', id_p=cp.idP, action='supprimer') }}" method="post">
                                <button style="border: none; background-color: transparent;" type="submit">
                                    <img  src="{{ url_for('static', filename='img/corbeille.png') }}" alt="image corbeille">
                                </button>
                            </form>
                            
                        </div>
                    </article>
                {% endfor %}
                <h2>Formules</h2>
                {% for cf in panier.formules %}
                    <article>
                        <img src="{{ url_for('static', filename=cf.formule.cheminImg) }}" alt="image {{cf.formule.nomP}}">
                        <div>
                            <p>{{ cf.formule.nomF }}</p>
                            <p>Unité : {{ cf.formule.prixF }}</p>
                        </div>
                        <div style="margin-right: 4em;">
                            {% for c in cf.formule.plats %}
                                <p style="margin-bottom: 0;">- {{ c.plat.nomP }}</p>
                            {% endfor %}
                        </div>
                        <div class="nombre">
                            <form action="{{ url_for('modifier_quantite_formule', id_f=cf.idF, action='maj_directe') }}" method="post" class="form-quantite">
                                <input type="number" 
                                    name="quantite" 
                                    value="{{ cf.quantiteF }}"
                                    onchange="this.form.submit()"
                                    class="input-style-panier">

                                <span>{{ cf.quantiteF * cf.formule.prixF }} €</span>
                            </form>
                        </div>
                        <div class="corbeille">
                            <form action="{{ url_for('modifier_quantite_formule', id_f=cf.idF, action='supprimer') }}" method="post">
                                <button style="border: none; background-color: transparent;" type="submit">
                                    <img  src="{{ url_for('static', filename='img/corbeille.png') }}" alt="image corbeille">
                                </button>
                            </form>
                        </div>
                    </article>
                {% endfor %}
            </section>
            <section class="recapitulatif">
                <article class="parametre">
                    <h3>Parametre de la commande</h3>
                    <p>Sur place</p>
                    {% if current_user.est_banni %}
                        <input type="checkbox" id="checkbox-surplace" data-idr="{{ panier.idR }}" value="1" checked disabled>
                    {% else %}
                        <input type="checkbox" id="checkbox-surplace" data-idr="{{ panier.idR }}" value="1" {% if panier.sur_place %}checked{% endif %}>
                    {% endif %}
                    <p>Nombres de personnes</p>
                    <form action="{{ url_for('modifier_nb_couvert', id_r=panier.idR, action='diminuer') }}" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm">-</button>
                    </form>
                    {{panier.nb_couverts}}
                    <form action="{{ url_for('modifier_nb_couvert', id_r=panier.idR, action='ajouter') }}" method="post" style="display:inline">
                        <button type="submit" class="btn btn-success btn-sm">+</button>
                    </form>
                </article>
                <article class="total">         
                    <h3 style="margin-bottom: 1em;">Total du panier: {{panier.get_total()}} €</h3>
                    <form action="{{ url_for('valider_panier') }}" method="post" class="bouton_valide_sup">
                        <button type="submit" class="btn btn-primary" {% if panier.get_total() == 0 %} disabled {% endif %}>Valider le panier</button>
                    </form>
                </article>
            </section>
        </section>
    </section>

    {% else %}
    <section class="block">
        <h3>Votre panier est vide</h3>
    </section>
    {% endif %}
{% endif %}
<script src="{{ url_for('static', filename='js/case_cocher.js') }}"></script>

{% endblock %}
