.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9em;
}

.panier {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3em;
    margin-top: 2em;
    padding: 0 3em;
}

.panier .liste_plats {
    flex-basis: 65%;
    background-color: white;
    border-radius: 0.6em;
    box-shadow: 0px 0px 4px 0 black;
    padding: 1.5em;
}

.panier .liste_plats article {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
}

.panier .liste_plats article div:first-of-type{
    width: 40%;
    margin-left: 3em;
}

.panier .liste_plats article:not(:last-child) {
    border-bottom: rgb(116, 115, 115) 0.08em solid;
}

.panier .liste_plats article>img {
    width: 6.5em;
    height: auto;
    box-shadow: 0px 0px 3px 0 black;
}

.panier .liste_plats article div img {
    width: 2em;
    height: auto;
}

.panier .recapitulatif {
    flex-basis: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.panier .recapitulatif .total,
.panier .recapitulatif .parametre {
    text-align: center;
    background-color: white;
    border-radius: 0.6em;
    box-shadow: 0px 0px 4px 0 black;
}