.page-titre{
    align-items: center;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.5em;
}
.trait-horizontal {
    height: 0.125em;
    width: 20em;
    background-color: var(--text-gris);
    margin-bottom: 0.5em;
}
.page-titre h3{
    text-align: center;
    color: var(--text-gris);
}

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article > iframe{
    border-radius: 55px;
    border: 3px solid var(--btn) !important;
    box-shadow: 2px 2px 10px 0 var(--ombre-noir-blanc), 10px 10px 15px 0 rgba(0, 0, 0, 0.74) inset !important;
}

#info-contact {
    background-color: var(--header);
    border-radius: 55px;
    border: 3px solid var(--btn);
    margin-bottom: 3%;
}
#info-contact ul li{
    list-style: none;
}

#info-contact textarea{
    width: 90%;
}
#info-contact input{
    width: 70%;
}