main{
    display: flex;
    margin-top: 10em;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
    height: 50em;
}
.corps{
    width: 80%;
}
input{
    margin-bottom: 0.25em;
    border-radius: 5px;
}
.table-container{
    height: 35em;
    overflow-y: auto;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
table{
    max-width: 100%;
}
h1{
    margin-bottom: 2em;
}

.table th {
    position: sticky;
    top: 0;
    z-index: 1;
}
