main{
    display: flex;
    margin-top: 10em;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
    height: 50em;
}

.table-container{
    overflow-x: auto;
    height: 35em;
    overflow-y: auto;
    width: 80%;
    max-height: 100%;
}
table{
    max-width: 100%;
}
h1{
    margin-bottom: 2em;
}