/* === POSITIONNEMENT === */

.collage_image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.23em;
}

.collage {
    flex-basis: 45%;
    flex-grow: 1;
    width: auto;
    height: 25.2vw;
    position: relative;
}

.fait_maison {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease;
    transform: scale(0.5);
}

.cercle {
    position: absolute;
    width: 23em;
    height: 23em;
    z-index: 1;
    opacity: 0;
    transition: opacity 2s ease, transform 1.5s ease;
    transform: scale(0.5);
}

.bienvenue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bienvenue_titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bienvenue_titre .premier {
    margin-top: 2em;
}

.bienvenue .trait-horizontal {
    height: 0.125em;
    width: 20em;
    margin: 1em 0 1.6em 0;
}

.bienvenue img {
    position: absolute;
    right: 0;
    margin-top: -3.8em;
}

.offre_presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offre_titre {
    margin: 5em 0 2em 0;
}

.offre_titre .trait-horizontal {
    height: 0.125em;
    width: 34.4em;
    margin: 1em 0;
}

.offre_description {
    display: flex;
    justify-content: space-around;
}

.offre_description article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    flex-grow: 1;
    margin: 3em 7em;
}

.offre_description .trait-horizontal {
    height: 0.125em;
    width: 35.5em;
    margin: 0.8em 0 1.3em 0;
}

.plateau_repas,
.plat_emporter {
    transition: 0.3s;
    border-radius: 0.7em;
    padding: 1.2em;
}

.plats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plats_titre {
    margin: 0.7em 0 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plats_titre .trait-horizontal {
    height: 0.125em;
    width: 25.5em;
    margin: 0.6em 0 1em 0;
}

.liste_plats {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3em 2em 3em;
}

.liste_plats a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    flex-grow: 1;
    margin: 2em 3em;
    padding: 1.2em;
}

.un_type_plat article {
    display: flex;
    flex-direction: column;
    margin-left: 1.2em;
}

.un_type_plat img {
    object-fit: cover;
    width: 10em;
    height: 10em;
    border-radius: 10px;
    margin: 1em;
}

:root {
    --header-height: 13dvh;
}

/* === STYLE === */

.collage_image {
    background-color: #000000;
}

.cercle {
    border-radius: 50%;
    background-color: #000000;
}

.bienvenue_titre h1,
.bienvenue_titre h3 {
    color: var(--text-gris);
}

.bienvenue_titre h1 {
    font-size: 6em;
    padding: 0;
}

.bienvenue .trait-horizontal {
    background-color: var(--text-gris);
}

.offre_titre h3 {
    color: var(--text-gris);
}

.offre_titre .trait-horizontal {
    background-color: var(--text-gris);
}

.offre_description .trait-horizontal {
    background-color: var(--orange);
    border-radius: 70%;
}

.offre_description p,
.offre_description h1 {
    color: var(--noir-blanc);
}

.plats_titre .trait-horizontal {
    background-color: var(--text-gris);
}



.plateau_repas:hover,
.plat_emporter:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px;
}

.liste_plats a {
    background-color: var(--header);
    border-radius: 0.7em;
    box-shadow: 2px 2px 10px var(--ombre-noir-blanc);
    transition: 0.3s;
    color: black;
}

.liste_plats a:hover {
    transform: scale(1.05);
}

.un_type_plat h3 {
    color: var(--orange);
}

.plats_titre p {
    color: var(--text-gris);
}


:root {
    --header-height: 13dvh;
}

/* Téléphone */
@media screen and (max-width: 600px) {

    .bienvenue img {
        width: 5em;
        position: absolute;
        right: 0;
        margin-top: -8.6em;
    }

    .collage_image {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        height: calc(100dvh - var(--header-height));
    }

    .collage {
        width: 100%;
        object-fit: cover;
        display: block;
        margin: 0;
        padding: 0;
        flex-grow: 0;
    }

    .cercle {
        width: 10em;
        height: 10em;
    }

    .fait_maison {
        width: 100%;
        height: auto;
    }

    .bienvenue h3 {
        font-size: 1em;
    }

    .bienvenue h1 {
        font-size: 4em;
    }

    .offre_titre h3,
    .plats_titre h3 {
        font-size: 1em;
    }

    .offre_titre .trait-horizontal {
        width: 19.7em;
    }

    .offre_description {
        flex-direction: column;
    }

    .offre_description article {
        margin: 3em 0;
    }

    .offre_description h1 {
        font-size: 1.5em;
    }   

    .offre_description .trait-horizontal {
        width: 18em;
    }

    .offre_description p {
        font-size: 0.9em;
        margin-left: 0.8em;
    }

    .plats_titre .trait-horizontal {
        width: 14.3em;
    }

    .un_type_plat {
        flex-direction: column;
        flex-basis: 30%;
    }

    .un_type_plat img {
        width: 60vw;
        height: auto;
    }

    .un_type_plat p {
        font-size: 0.9em;
    }

    .plateau_repas,
    .plat_emporter {
        margin: 0;
        padding: 0;
    }
}