body {
    background-color: #FAF5E1;
}

/*css du header*/
header {
    top: 0; 
    left: 0;
    position: fixed;
    background-color: #E6E7E9;
    padding: 0.7em 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 3px 20px black;
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    width: 5em;
    height: auto;
}

header nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 3em;
    align-items: center;
    margin-bottom: 0;
}

header nav a {
    margin-left: 2em;
    text-decoration: none;
    color: #666666;;
}

header .btn_inscription, .btn_connection, .btn_deconnection{
    background-color: #95A57E;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    padding: 0.2em 0.3em;
}

footer {
    background-color: #E6E7E9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2em 0;
    box-shadow: 0px -3px 20px black;
}

footer article {
    flex-basis: 15%;
    flex-grow: 1;
    margin: 0 7em;
}

footer article p {
    padding: 0;
    margin: 0;
}

footer article img {
    margin-left: 1.2em;
}

.titre_admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-admin-accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}