body {
    background-color: #FAF5E1;
}

/*css du header*/
header {
    background-color: #E6E7E9;
    padding: 0.7em 0;
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    width: 5em;
    height: auto;
}

header nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 3em;
    align-items: center;
    margin-bottom: 0;
}

header nav a {
    margin-left: 2em;
    text-decoration: none;
    color: black;
}
header .btn_inscription, .btn_connection, .btn_deconnection, .boutons_admin{
    background-color: #95A57E;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    padding: 0.2em 0.3em;
}

.titre_admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-admin-accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}