h1{
    margin-top: 3em;
}
th{
    text-align: center;
    color: var(--noir-blanc);
    padding: 1.5em;
}

td{
    text-align: center;
    color: var(--noir-blanc);
}

main{
    margin:1em;
}
table{
    background-color: var(--tableau);
    border: 3px solid var(--btn);
}