main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    height: 50em;
}

.corps {
    width: 90%;
    background-color: var(--tableau);
    padding: 1em;
    border-radius: 10px;
}

h1 {
    margin-bottom: 0.5em;
}

h1,h3,.trait-horizontal{
    color: var(--text-gris);
}

.trait-horizontal {
    height: 0.125em;
    width: 20em;
    background-color: var(--text-gris);
    margin: 0 0 1.6em 0;
}

.table-container {
    border-radius: 8px;
    box-shadow: 0 2px 2px var(--ombre-noir-blanc);
    margin: 20px 0;
    overflow-y: auto;
    height: 30em;
    border: solid 1px var(--orange);
}


.table-container table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.table-container table th {
    background-color: var(--btn); 
    font-weight: bold;
    text-align: center;
    padding: 12px 15px;

    position: sticky;
    top: 0;
    z-index: 1;
;
}

.table-container table td {
    padding: 12px 15px;
    text-align: left; 
    text-align: center
}


.table-container table tbody tr {
    border-bottom: 1px solid var(--orange);
}
.table-container table tbody tr:last-child {
    border-bottom: none;
}

.table-container table tbody tr:nth-child(odd) {
  background-color: var(--tableau);
}

.table-container table tbody tr:nth-child(even) {
  background-color: var(--ligne-impair);
  color: var(--noir-blanc)
}

#recherche{
    margin-right: 55em;
    border-radius: 5px;
    border-color: var(--orange);
}

.boutons_plat{
    border-radius: 5px;
    background-color: var(--btn);
    color: var(--noir-blanc);
}

.table-container table tbody tr.selected {
  background-color:var(--selected);
  color: black;;
}

.table-container table tbody > tr:hover {
  cursor: pointer;
  background-color:var(--selected);
  color: black;
}


#pop-up-ajout{
    position: fixed;
    top:15em;
    right: 35em;
    z-index:2;
    background-color: var(--tableau);
    border: solid 1px var(--orange);
    border-radius: 5px;
    display: none;
    max-width: 20em;

}

#pop-up-ajout.open{
    display: flex !important; 
    padding: 10px;

}

.form_objets{
    display: flex;
    flex-direction: column;    
}
.form_objets input, .form_objets select{
    margin-bottom: 0.5em;
}
