
.page-titre{
    margin-top: 9em;
    display: block;
}
.page-titre h3{
    justify-content: center;
    text-align: center;
    color: var(--gris);
}
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact {
    background-color: var(--case-produit);
    border:5px solid var(--btn);
    border-radius: 55px;
    border: 5px solid var(--btn);
}
